{% assign rawcategories = "" %}
{% for post in site.posts %}
  {% assign tcategories = post.categories | join:'|' | append:'|' %}
  {% assign rawcategories = rawcategories | append:tcategories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% assign site.categories = "" %}
{% for tag in rawcategories %}
  {% if tag != "" %}
    {% if categories == "" %}
      {% assign categories = tag | split:'|' %}
    {% endif %}
    {% unless categories contains tag %}
      {% assign categories = categories | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}