---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- assign posts_limit = site.minimax.posts_limit | default: 10 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit: posts_limit -%}
      <li>
        {%- assign date_format = site.minimax.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <p><a href="/tags.html">More posts...</a></p>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
